body {
  background: rgb(54,80,208);
  background: radial-gradient(circle, rgba(54,80,208,1) 0%, rgba(105,222,247,1) 100%);
  font-family:Lucida handwriting;
}
.App {
  top:0;
  font-size:200%;
  background-color: black;
  height:100px;
  width:200%;
  position:absolute;right:0;left:0;
}

.Forms {
  border:2px solid black;
  border-radius:8px;
  justify-content:center;
  text-align:center;
  font-size: 50%;
  margin: 150px 75px 150px 700px;
  height:300px;
  width: 400px;
  background:white;
}




